* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body,
html {
  padding: 0;
  margin: 0;
}

/* 기본 폰트 Pretendard 적용 */
html, body {
  font-family: 'PretendardGOVVariable', PretendardGOV, -apple-system, BlinkMacSystemFont, 
    system-ui, 'Segoe UI', Roboto, 'Helvetica Neue', 'Apple SD Gothic Neo', 
    'Noto Sans KR', 'Malgun Gothic', sans-serif;
  letter-spacing: -0.02em;
  line-height: 1.5;
  overflow-x: hidden;
}

/* Notion 블록 내부 폰트도 Pretendard로 변경 */
.notion, 
.notion-text, 
.notion-title, 
.notion-header, 
.notion-subheader, 
.notion-table, 
.notion-list, 
.notion-callout, 
.notion-quote, 
.notion-page-link, 
.notion-equation {
  font-family: 'PretendardGOVVariable', PretendardGOV, -apple-system, BlinkMacSystemFont, 
    system-ui, 'Segoe UI', Roboto, 'Helvetica Neue', 'Apple SD Gothic Neo', 
    'Noto Sans KR', 'Malgun Gothic', sans-serif !important;

}


.static-tweet blockquote {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.static-tweet-emoji {
  height: 1.2em !important;
  width: 1.2em !important;
}

.searchInput {
  color: var(--fg-color);
  caret-color: var(--fg-color);
}

::-webkit-scrollbar
{
  width: 5px;
  height: 5px;
  background-color: #F5F5F5;
  background-color: var(--bg-color-1);
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: var(--fg-color-1);
}

::-webkit-scrollbar-track {           
    background-color: var(--bg-color);
}
